.* {
  box-sizing:border-box;
}

body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text3], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type=text4], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type=file] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.main2 {
  margin-left: 55px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

.container3 {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}


.container {
  padding: 64px;
}

.row:after {
  content: "";
  display: table;
  clear: both
}

.column-66 {
  float: left;
  width: 66.66666%;
  padding: 20px;
}

.column-33 {
  float: left;
  width: 33.33333%;
  padding: 20px;
}

.large-font {
  font-size: 48px;
}

.xlarge-font {
  font-size: 64px
}

.button4 {
  border: none;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4CAF50;
}
footer {
  background-color: orange;
  padding: 10px;
  text-align: center;
  color: blue;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

@media screen and (max-width: 1000px) {
  .column-66,
  .column-33 {
    width: 100%;
    text-align: center;
  }
  img {
    margin: auto;
  }
}
/* The screen (or content) of the device */
.screen .content {
  width: 1366px;
  height: 800px;
  overflow: hidden;
  border: none;
}
* {
  box-sizing: border-box;
}

#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 2px solid #ddd;
  font-size: 18px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}
/*view candidates button*/

.dropbtn1 {
  background-color:blue; 
  border: 1;
  color: black;
  padding: 12px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 3px 3px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.dropbtn1:hover, .dropbtn1:focus {
  background-color:green;
}

.dropdown1 {
  position: relative;
  display: inline-block;
  color: black;
}

.dropdown-content1 {
  display: none;
  position: absolute;
  background-color:white;
  min-width: 240px;
  min-height:90px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  color:black; 
  font-size:10px;
  border-radius: 6px


}

.dropdown-content1 a {
  color:black;
  padding: 1px 3px;
  text-decoration: none;
  display: block;
  font-size:25px;
  border: 1px solid #ccc; 
  font-family:initial;
  box-sizing:2px 2px; 
  border-color:black;
  background-color:#5667;


}
.dropdown-content1 i {
  color: black;
  padding: 10px 5px;
  text-decoration: none;
  display: block;
  font-size:2px;
  margin: 0; 
  padding: 0 0 6px 15px;
  box-sizing:2px 2px;
  padding-top:8px;
   
   border-color:black; 
}
.dropdown1 a:hover {background-color:skyblue;

color: black;}


.show {display: block;}
/*view candidates button*/

.dropbtn {
  background-color:white; 
  border: 1;
  color: black;
  padding: 12px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 3px 3px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: skyblue;
}

.dropdown {
  position: relative;
  display: inline-block;
  color: black;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:blue;
  min-width: 230px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  color:black; 
  font-size:10px;

}

.dropdown-content a {
  color:black;
  padding: 1px 1px;
  text-decoration: none;
  display: block;
  font-size:2px;

}
.dropdown-content i {
  color: black;
  padding: 5px 5px;
  text-decoration: none;
  display: block;
  font-size:2px;

}
.dropdown a:hover {background-color: black;

color: black;}


.show {display: block;}


.h4{

  color:yellow;
}
 .circle1 {
 
  padding-left:35px;
  padding-bottom:25px;
  color: white;

}

.circle {
  height: 150px;
  width: 150px;
  border-radius: 100%;

}


.button1 {
  background-color:blue; 
  border: 1;
  color: white;
  padding: 12px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 3px 3px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 6px;

}

.button1:first-child {
    margin-left: 0;
}

.button1:last-child {
    margin-right: 0;
}

.button1:hover {
  background-color:green;
  color: white;
}



.button2 {
  background-color:orange; 
  border: 1;
  color: blue;
  padding: 12px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 3px 3px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 6px;

}

.button2:first-child {
    margin-left: 0;
}

.button2:last-child {
    margin-right: 0;
}

.button2:hover {
  background-color:red;
  color: white;
}
form {border: 3px solid #f1f1f1;
  background-color:#f1f1f2; 
  padding-top:4px;

}
input[type=text] {
    width: 100%;
    padding: 12px 28px;
     margin: 3px 3px;
    box-sizing: border-box;
    border: 4px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    font-size: 18px;
}


.button {
  background-color:white; 
  border: 1;
  color: black;
  padding: 12px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 3px 3px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 6px;

}

.button:first-child {
    margin-left: 0;
}

.button:last-child {
    margin-right: 0;
}

.button:hover {
  background-color: skyblue;
  color: white;
}



input[type=text] {
    width: 100%;
    padding: 12px 28px;
     margin: 3px 3px;
    box-sizing: border-box;
    border: 4px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    font-size: 18px;
}

input[type=text]:focus {
    border: 3px solid #655;
}


body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:blue;
  overflow-x: hidden;
  padding-top:5px;
}

.sidenav a {
  padding: 6px  14px;
  text-decoration: none;
  font-size: 20px;
  color: white;

}
.sidenav i{
  color:#5093cd; 
  margin: 0; 
  padding: 0 0 6px 15px; 
  background: url(images/tooplate_list.png) no-repeat scroll 0 5px;

}

.sidenav a:hover {
  color: orange;
}

.main {
  margin-left: 285px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}
.main2 {
  margin-left: 55px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

.menu {
  overflow:show;
  background-color: blue;
  position: fixed;
  top: 0;
  width:99%;
  height:80px 
}

.menu a {
  float: left;
  display: ;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 10px;
  text-decoration: none;
  font-size: 20px;
  height: 80px;
}
.menu i {
  float: left;
  display: ;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  height: 80%;
}
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* Full-width input fields */
input[type=text3], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text3]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
button {
  background-color:blue;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container1 {
  padding: 16px;
  ;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 
/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}
.menu a:hover {
  background-color: white;
  color: black;
}

.menu a.active {
  background-color: ;
  color: ;
}

.menu-right {
  float: right;
}



.active {
  background-color: ;
  color: white;
}


@media screen and (max-width: 600px) {
  .menu a:not(:first-child) {display: none;}
  .menu a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .menu.responsive {position: relative;}
  .menu.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .menu.responsive a {
    float: none;
    display: block;
    text-align:left ;
  }

}


* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
/* Style the header */

header {

  background-color:orange;
 
  width:100%;

  padding: 30px;

  text-align: center;

  font-size: 30px;

  color:blue;

  margin-top:30px; 

}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

@media screen and (max-width: 1000px) {
  .column-66,
  .column-33 {
    width: 100%;
    text-align: center;
  }
  img {
    margin: auto;
  }

.home {


  padding: 30px;

  text-align: center;

  font-size: 30px;

  color:black;

  background-image:100%;

  

}



* {

  box-sizing: border-box;

}

​

body {

  font-family: Arial, Helvetica, sans-serif;

}

​

/* Style the header */



​

/* Create two columns/boxes that floats next to each other */

nav {

  float: left;

  width: 30%;

  height: 300px; /* only for demonstration, should be removed */

  background: #ccc;

  padding: 20px;

}

​

/* Style the list inside the menu */

nav ul {

  list-style-type: none;

  padding: 0;

}

​

article {

  float: left;

  padding: 20px;

  width: 0%;

  background-color: #f1f1f1;

  height: 300px; /* only for demonstration, should be removed */

}

​

/* Clear floats after the columns */

section:after {

  content: "";

  display: table;

  clear: both;

  height: 300px;

}

​



footer {

  background-color: #777;

  padding: 10px;


  background-color:orange;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  width: 30%;
  height: 300px; /* only for demonstration, should be removed */
  background: #ccc;
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: #f1f1f1;
  height: 300px; /* only for demonstration, should be removed */
}

/* Clear floats after the columns */
section:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color: orange;
  padding: 10px;
  text-align: center;
  color: blue;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }


 

}
